body {
  background-color: #f6f6f7;
}
#category ul li {
  cursor: pointer;
  padding: 0 10px;
}
@media screen and (max-width: 576px) {
  .sort-category {
    padding-bottom: 1.5rem;
  }
}
.card-text-custom {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; /* limit to 2 lines */
}
